In [11]:
import pandas as pd

liver=pd.read_csv("Indian Liver Patient Dataset.csv")
print(liver)
print(liver.index)
print(liver.size)
print(liver.shape)

     Age  Gender    TB   DB  Alkphos  Sgpt  Sgot   TP  ALB    AG  LiverPatient
0     65  Female   0.7  0.1      187    16    18  6.8  3.3  0.90             1
1     62    Male  10.9  5.5      699    64   100  7.5  3.2  0.74             1
2     62    Male   7.3  4.1      490    60    68  7.0  3.3  0.89             1
3     58    Male   1.0  0.4      182    14    20  6.8  3.4  1.00             1
4     72    Male   3.9  2.0      195    27    59  7.3  2.4  0.40             1
..   ...     ...   ...  ...      ...   ...   ...  ...  ...   ...           ...
578   60    Male   0.5  0.1      500    20    34  5.9  1.6  0.37             2
579   40    Male   0.6  0.1       98    35    31  6.0  3.2  1.10             1
580   52    Male   0.8  0.2      245    48    49  6.4  3.2  1.00             1
581   31    Male   1.3  0.5      184    29    32  6.8  3.4  1.00             1
582   38    Male   1.0  0.3      216    21    24  7.3  4.4  1.50             2

[583 rows x 11 columns]
RangeIndex(start=0, stop=583, step=1)
6413
(583, 11)

In [12]:
print(liver.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Age           583 non-null    int64
 1   Gender        583 non-null    object
 2   TB            583 non-null    float64
 3   DB            583 non-null    float64
 4   Alkphos       583 non-null    int64
 5   Sgpt          583 non-null    int64
 6   Sgot          583 non-null    int64
 7   TP            583 non-null    float64
 8   ALB           583 non-null    float64
 9   AG            579 non-null    float64
 10  LiverPatient  583 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB
None

In [13]:
print(liver.describe())

              Age          TB          DB      Alkphos         Sgpt  \
count  583.000000  583.000000  583.000000   583.000000   583.000000
mean    44.746141    3.298799    1.486106   290.576329    80.713551
std     16.189833    6.209522    2.808498   242.937989   182.620356
min      4.000000    0.400000    0.100000    63.000000    10.000000
25%     33.000000    0.800000    0.200000   175.500000    23.000000
50%     45.000000    1.000000    0.300000   208.000000    35.000000
75%     58.000000    2.600000    1.300000   298.000000    60.500000
max     90.000000   75.000000   19.700000  2110.000000  2000.000000

              Sgot          TP         ALB          AG  LiverPatient
count   583.000000  583.000000  583.000000  579.000000    583.000000
mean    109.910806    6.483190    3.141852    0.947064      1.286449
std     288.918529    1.085451    0.795519    0.319592      0.452490
min      10.000000    2.700000    0.900000    0.300000      1.000000
25%      25.000000    5.800000    2.600000    0.700000      1.000000
50%      42.000000    6.600000    3.100000    0.930000      1.000000
75%      87.000000    7.200000    3.800000    1.100000      2.000000
max    4929.000000    9.600000    5.500000    2.800000      2.000000

In [14]:
print(liver.head())

   Age  Gender    TB   DB  Alkphos  Sgpt  Sgot   TP  ALB    AG  LiverPatient
0   65  Female   0.7  0.1      187    16    18  6.8  3.3  0.90             1
1   62    Male  10.9  5.5      699    64   100  7.5  3.2  0.74             1
2   62    Male   7.3  4.1      490    60    68  7.0  3.3  0.89             1
3   58    Male   1.0  0.4      182    14    20  6.8  3.4  1.00             1
4   72    Male   3.9  2.0      195    27    59  7.3  2.4  0.40             1

In [15]:
print(liver.tail(2))

     Age Gender   TB   DB  Alkphos  Sgpt  Sgot   TP  ALB   AG  LiverPatient
581   31   Male  1.3  0.5      184    29    32  6.8  3.4  1.0             1
582   38   Male  1.0  0.3      216    21    24  7.3  4.4  1.5             2

In [16]:
print(liver.columns)

Index(['Age', 'Gender', 'TB', 'DB', 'Alkphos', 'Sgpt', 'Sgot', 'TP', 'ALB',
       'AG', 'LiverPatient'],
      dtype='object')

In [17]:
liver_copy1=liver

In [18]:
print(liver_copy1)

     Age  Gender    TB   DB  Alkphos  Sgpt  Sgot   TP  ALB    AG  LiverPatient
0     65  Female   0.7  0.1      187    16    18  6.8  3.3  0.90             1
1     62    Male  10.9  5.5      699    64   100  7.5  3.2  0.74             1
2     62    Male   7.3  4.1      490    60    68  7.0  3.3  0.89             1
3     58    Male   1.0  0.4      182    14    20  6.8  3.4  1.00             1
4     72    Male   3.9  2.0      195    27    59  7.3  2.4  0.40             1
..   ...     ...   ...  ...      ...   ...   ...  ...  ...   ...           ...
578   60    Male   0.5  0.1      500    20    34  5.9  1.6  0.37             2
579   40    Male   0.6  0.1       98    35    31  6.0  3.2  1.10             1
580   52    Male   0.8  0.2      245    48    49  6.4  3.2  1.00             1
581   31    Male   1.3  0.5      184    29    32  6.8  3.4  1.00             1
582   38    Male   1.0  0.3      216    21    24  7.3  4.4  1.50             2

[583 rows x 11 columns]

In [21]:
print(liver_copy1[['TB','DB']].head(5))
print(liver_copy1[['TB','DB']].tail(5))

     TB   DB
0   0.7  0.1
1  10.9  5.5
2   7.3  4.1
3   1.0  0.4
4   3.9  2.0
      TB   DB
578  0.5  0.1
579  0.6  0.1
580  0.8  0.2
581  1.3  0.5
582  1.0  0.3

In [26]:
print(liver_copy1['TB'].values)
print(liver_copy1['TB'].value_counts())
print(liver_copy1['TB'].value_counts()/len(liver_copy1['TB']))
print(liver_copy1['TB'].describe())

[ 0.7 10.9  7.3  1.   3.9  1.8  0.9  0.9  0.9  0.7  0.6  2.7  0.9  1.1
  0.7  0.6  1.8  1.6  0.9  0.9  2.2  2.9  6.8  1.9  0.9  4.1  4.1  6.2
  1.1  0.7  4.   0.9  1.   2.6  2.6  1.3  0.7 14.2  1.4  2.7  2.4  0.6
  6.8  2.6  1.   1.8  3.9  1.1  0.6 18.4  0.7  0.6  3.1  1.1  8.9  8.9
  0.8  0.9  0.8  1.1  0.8  1.   1.   0.7  1.3  1.4  2.2  1.8  0.7  0.8
  0.7  0.8  0.8  0.6  0.7  0.7  0.9  0.6  1.4  2.8  2.4  1.   0.7  2.
  0.6  1.4  0.6  0.8  0.6  4.   5.7  6.8  8.6  5.8  5.2  0.9  3.8  6.6
  0.6  0.7  0.6  0.7  0.9  0.8  0.5  5.3  5.3  0.8  0.8  0.9  0.7  3.2
  1.2  0.6  5.8  7.3  0.7 12.7 15.9 18.  23.  22.7  1.7  0.8  0.6  1.8
  5.8  3.   1.7  2.8  3.2  0.7  0.8  0.9  1.8 11.3  4.7  0.8  0.8  0.8
  0.6  4.2  1.6  1.6  3.5  0.8  2.9  0.7  0.9  0.8  1.1  1.6  0.8  0.6
  5.9  8.7  0.9  0.7  0.7  1.2 11.  11.5  5.8  1.9  1.9  4.5 75.   3.
 22.8  8.9  1.7  1.9 14.1  0.6  0.6  0.8  0.8 14.8 10.6  8.   2.8  2.9
  1.9  0.6  1.1  1.5  3.2  2.1  1.9  0.8  6.3  5.8  2.3  1.3  2.   2.4
  2.   0.6  0.9 27.2  0.6  0.6  0.8  1.   0.7  2.5  3.6  3.9  0.9  0.9
  0.8  2.7  2.7  0.9  1.7  0.6  0.9  1.1  0.6  0.8  0.8  0.9  0.9  1.1
  1.7  0.6  1.3  0.7  1.   0.6  1.5  0.8  2.7  2.   0.9  1.5  0.8  0.9
  0.9  0.9  0.7  0.8  0.8  0.9  0.8  0.9  1.8  0.9  0.7  1.2  2.1  0.9
  1.1  0.6  0.7  1.7  0.9  0.8  0.8 30.5 16.4  1.5  0.8  0.8  0.8  0.9
  1.2  0.9 14.5  0.6  0.7  0.8 18.5  0.7  1.8  1.9  0.9  2.   2.2  1.
  0.8  0.7  0.7  1.3  0.9  1.5  0.8  1.3  1.   4.5  1.   0.7  0.6  1.1
  2.4  0.6  0.9  0.9  1.1  0.9  0.8  0.9  1.7  0.7  0.8  1.4  1.6  0.8
  0.8  1.1  0.8 23.2  1.3  0.8  2.   0.9  0.9  0.7  3.7  0.9  0.7  0.8
  1.7  0.8  2.6  0.8  1.2  3.3  0.8  0.7  2.   1.7  7.1  0.7  0.7  0.7
  6.7  2.5  1.8  1.4  0.9  0.8  0.8  3.1  0.8  2.9  0.6  0.7  1.3  0.8
  1.8  1.3  0.7  1.4  0.8  1.4  0.7  2.1  0.7  0.8  0.7  0.7  1.1  0.9
  0.8  0.7  0.7  2.2  0.8  0.8 22.6  0.8  0.7  0.7  0.7  3.5  0.7  0.6
  0.7  0.7  1.7  0.6  0.7  1.4  3.7  0.8  2.7  0.8  0.8  0.6  0.8  0.9
  7.5  2.7  1.   0.8  1.   1.   0.8  1.   0.7  7.3  0.5  0.7  0.8  0.8
  0.7  1.   2.4  5.   1.4  2.3  4.9  0.7  1.4  1.3  0.6  0.7  4.2  8.2
 10.9  1.   1.2  1.6  0.7  0.4  1.3  0.9  0.6  1.9  0.7  0.8  0.7  0.9
  0.7  0.5  1.   1.6  0.8  0.8  0.8  2.3  7.4  0.7  0.8  0.9  0.8 23.3
  0.8  0.9  7.9  0.8  0.9  0.7  0.6  0.6  0.7  0.8  6.8  1.1  2.2  0.8
  0.7  0.8  0.7  0.6  0.6  1.   1.   0.8  1.1  0.6  0.7  1.   2.   2.2
  0.9  0.6  7.1  3.4  0.5  2.3  1.1  0.8  5.   6.7  0.8  0.7  0.7  0.8
  0.8  1.   1.   0.7  0.7  0.7  1.   2.2  1.8  3.6  2.7  2.8  0.8 19.8
 30.5 32.6 17.7  0.9 18.4 20.   0.8  2.2  1.   0.9  1.   3.9  0.9  0.9
  2.9 26.3  1.8  4.4  0.8  0.6  0.8  0.9  9.4  3.5  1.7  3.3  1.1 30.8
  0.7  1.4  1.6 19.6 15.8  0.8  1.8  0.7  0.8  0.8  0.7  1.2  5.5  0.7
 20.2 27.7 11.1  2.1  3.3  1.2  0.6 10.2  1.8  0.8  0.7  2.9  4.  42.8
 15.2 16.6 17.3  1.4  0.6 22.5  1.   2.7 16.7  7.7  2.6  1.1 15.6  3.7
 12.1 25.  15.  12.7  0.5  0.6  0.8  1.3  1. ]
0.8     91
0.7     77
0.9     57
0.6     46
1.0     28
        ..
14.5     1
18.5     1
23.2     1
22.6     1
15.0     1
Name: TB, Length: 113, dtype: int64
0.8     0.156089
0.7     0.132075
0.9     0.097770
0.6     0.078902
1.0     0.048027
          ...
14.5    0.001715
18.5    0.001715
23.2    0.001715
22.6    0.001715
15.0    0.001715
Name: TB, Length: 113, dtype: float64
count    583.000000
mean       3.298799
std        6.209522
min        0.400000
25%        0.800000
50%        1.000000
75%        2.600000
max       75.000000
Name: TB, dtype: float64

In [28]:
age_list=liver_copy1['Gender'].tolist()
print(age_list)

['Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male']

In [30]:
print(liver_copy1['Age'].mean())
print(liver_copy1['Age'].median())
print(liver_copy1['Age'].mode())
print(liver_copy1['Age'].max())
print(liver_copy1['Age'].min())
print(liver_copy1['Age'].sum())
print(liver_copy1['Age'].product())
print(liver_copy1['Age'].mode())

44.74614065180103
45.0
0    60
dtype: int64
90
4
26087
0
0    60
dtype: int64

In [32]:
print(liver_copy1['Age'].nsmallest().head(3))
print(liver_copy1['Age'].nlargest().head(4))

265    4
271    4
218    6
Name: Age, dtype: int64
571    90
44     85
29     84
397    78
Name: Age, dtype: int64

In [34]:
print(liver_copy1.sort_values(by='TP',ascending=False).head(10))

     Age  Gender    TB    DB  Alkphos  Sgpt  Sgot   TP  ALB   AG  LiverPatient
273   30    Male   0.7   0.2      262    15    18  9.6  4.7  1.2             1
270   37    Male   0.7   0.2      235    96    54  9.5  4.9  1.0             1
519   35    Male  26.3  12.1      108   168   630  9.2  2.0  0.3             1
510   37  Female   0.8   0.2      205    31    36  9.2  4.6  1.0             2
335   13  Female   0.7   0.1      182    24    19  8.9  4.9  1.2             1
372   48    Male   0.7   0.2      326    29    17  8.7  5.5  1.7             1
520   62    Male   1.8   0.9      224    69   155  8.6  4.0  0.8             1
286   34  Female   0.8   0.2      192    15    12  8.6  4.7  1.2             1
290   45  Female   1.0   0.3      250    48    44  8.6  4.3  1.0             1
312   27    Male   1.3   0.6      106    25    54  8.5  4.8  NaN             2

In [35]:
print(liver_copy1.sort_values(by='TB',ascending=False).head(10))

     Age  Gender    TB    DB  Alkphos  Sgpt  Sgot   TP  ALB   AG  LiverPatient
166   55    Male  75.0   3.6      332    40    66  6.2  2.5  0.6             1
559   26    Male  42.8  19.7      390    75   138  7.5  2.6  0.5             1
505   32    Male  32.6  14.1      219    95   235  5.8  3.1  1.1             1
531   40    Male  30.8  18.3      285   110   186  7.9  2.7  0.5             1
259   42    Male  30.5  14.2      285    65   130  5.2  2.1  0.6             1
504   32    Male  30.5  17.1      218    39    79  5.5  2.7  0.9             1
547   50  Female  27.7  10.8      380    39   348  7.1  2.3  0.4             1
199    7  Female  27.2  11.8     1420   790  1050  6.1  2.0  0.4             1
519   35    Male  26.3  12.1      108   168   630  9.2  2.0  0.3             1
575   32    Male  25.0  13.7      560    41    88  7.9  2.5  2.5             1

In [36]:
print(liver_copy1.sort_values(by='TB',ascending=True).head(10))

     Age  Gender   TB   DB  Alkphos  Sgpt  Sgot   TP  ALB    AG  LiverPatient
425   58    Male  0.4  0.1      100    59   126  4.3  2.5  1.40             1
104   63    Male  0.5  0.1      170    21    28  5.5  2.5  0.80             1
578   60    Male  0.5  0.1      500    20    34  5.9  1.6  0.37             2
480    7    Male  0.5  0.1      352    28    51  7.9  4.2  1.10             2
402   42  Female  0.5  0.1      162   155   108  8.1  4.0  0.90             1
435   17  Female  0.5  0.1      206    28    21  7.1  4.5  1.70             2
215   66    Male  0.6  0.2      100    17   148  5.0  3.3  1.90             2
428   52  Female  0.6  0.1      194    10    12  6.9  3.3  0.90             2
225   26    Male  0.6  0.2      120    45    51  7.9  4.0  1.00             1
416   70    Male  0.6  0.1      862    76   180  6.3  2.7  0.75             1

In [38]:
print(liver_copy1.sort_values(by='TB',ascending=True).tail(10))

     Age  Gender    TB    DB  Alkphos  Sgpt  Sgot   TP  ALB   AG  LiverPatient
575   32    Male  25.0  13.7      560    41    88  7.9  2.5  2.5             1
519   35    Male  26.3  12.1      108   168   630  9.2  2.0  0.3             1
199    7  Female  27.2  11.8     1420   790  1050  6.1  2.0  0.4             1
547   50  Female  27.7  10.8      380    39   348  7.1  2.3  0.4             1
504   32    Male  30.5  17.1      218    39    79  5.5  2.7  0.9             1
259   42    Male  30.5  14.2      285    65   130  5.2  2.1  0.6             1
531   40    Male  30.8  18.3      285   110   186  7.9  2.7  0.5             1
505   32    Male  32.6  14.1      219    95   235  5.8  3.1  1.1             1
559   26    Male  42.8  19.7      390    75   138  7.5  2.6  0.5             1
166   55    Male  75.0   3.6      332    40    66  6.2  2.5  0.6             1