In [1]:
# Program to print output in the program

salary=7000
print("Total Salary is salary")
print("Total Salary is  :", salary)

Total Salary is salary
Total Salary is  : 7000

In [2]:
print("Welcome")
print("To")
print("Python World")

Welcome
To
Python World

In [4]:
# This end parameter cause the cursor to remain in the same line
print("Welcome",end=" ")
print("to",end=" ")
print("Python World",end=" ")

Welcome to Python World

In [5]:
# using the end statements
print("Hello Dear ")
print("Enter your name", end =" ")
print("Welcome")
print(end=" Nice to See You")

Hello Dear
Enter your name Welcome
 Nice to See You

In [7]:
# Program to show the use of "Sep" arguments in print statements
var1,var2,var3,var4=100,150,200,250

# Printing the variable swithout separator"
print(var1,var2,var3,var4)
print(var1,var2,var3,var4, sep=" ")
print(var1,var2,var3,var4, sep=",")
print(var1,var2,var3,var4, sep=":")
print(var1,var2,var3,var4, sep="------")

100 150 200 250
100 150 200 250
100,150,200,250
100:150:200:250
100------150------200------250

In [8]:
num=input("Enter the number: ")
print("The number is",num,"and class is :",type(num))

Enter the number: 1000
The number is 1000 and class is : <class 'str'>

In [10]:
username=input("Enter your name :")
print("Hello and welcome  :",username)

Enter your name :Rohit Maity
Hello and welcome  : Rohit Maity

In [11]:
var1=int(input("Enter the salary"))
print("The value of the var 1 is: ",var1,"the type is",type(var1))

Enter the salary234000
The value of the var 1 is:  234000 the type is <class 'int'>

In [12]:
var1=float(input("Enter the salary"))
print("The value of the var 1 is: ",var1,"the type is",type(var1))

Enter the salary23456
The value of the var 1 is:  23456.0 the type is <class 'float'>

In [14]:
# eval function converts string to type of input which is printed
val1=eval(input("Enter the value of first variable:"))
print("val1 =",val1,"type : ",type(val1))

Enter the value of first variable:234.567
val1 = 234.567 type :  <class 'float'>

In [16]:
val1=eval(input("Enter the value of first variable:"))
print("val1 =",val1,"type : ",type(val1))

Enter the value of first variable:345
val1 = 345 type :  <class 'int'>

In [18]:
a,b,c = eval(input("Enter three numbers :"))
print(a,b,c)

Enter three numbers :23,34,56
23 34 56